@import "../../../../styles/mixins/typography-mixin.scss";

.container {
  .header {
    margin-bottom: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      @include headingSmall;
      color: var(--white);
    }

    .buttonSeeAll {
      transition: all 0.3s ease-in-out;
      @include bodySemiBold;
      color: var(--green500);

      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}
